*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: gold;
}

.container {
  border: 2px solid white;
  max-width: 900px;
  width: 100%;
  padding: 40px 10px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  position: relative;
  width: 250px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: none;
  border: none;
  outline: none;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

button::before {
  content: "";
  background: black;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}


button:hover::before {
  background: linear-gradient(to right, red 10%, orange 75%, rgba(0, 0, 255, .4) 100%);
  animation: btnWavy .5s linear infinite;
}

svg {
  display: none;
}

@keyframes squish {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.5);
  }

  80% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes btnWavy {
  0% {
    filter: url(#wave0);
  }

  25% {
    filter: url(#wave1);
  }

  50% {
    filter: url(#wave2);
  }

  75% {
    filter: url(#wave3);
  }

  100% {
    filter: url(#wave4);
  }
}